@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 600;

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-image: url("./assets/background.png");
  background-color: transparent;
  background-position: center;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
}

li:hover {
  border-bottom: 2px solid black;
}

.box-shadow {
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #e3e3e3;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 14s linear infinite;
}

.background li:nth-child(0) {
  left: 54%;
  width: 198px;
  height: 198px;
  bottom: -198px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 34%;
  width: 157px;
  height: 157px;
  bottom: -157px;
  animation-delay: 3s;
}
.background li:nth-child(2) {
  left: 7%;
  width: 199px;
  height: 199px;
  bottom: -199px;
  animation-delay: 5s;
}
.background li:nth-child(3) {
  left: 83%;
  width: 105px;
  height: 105px;
  bottom: -105px;
  animation-delay: 10s;
}
.background li:nth-child(4) {
  left: 38%;
  width: 137px;
  height: 137px;
  bottom: -137px;
  animation-delay: 9s;
}
.background li:nth-child(5) {
  left: 76%;
  width: 133px;
  height: 133px;
  bottom: -133px;
  animation-delay: 20s;
}
.background li:nth-child(6) {
  left: 30%;
  width: 179px;
  height: 179px;
  bottom: -179px;
  animation-delay: 19s;
}
.background li:nth-child(7) {
  left: 67%;
  width: 174px;
  height: 174px;
  bottom: -174px;
  animation-delay: 26s;
}
.background li:nth-child(8) {
  left: 58%;
  width: 151px;
  height: 151px;
  bottom: -151px;
  animation-delay: 9s;
}
.background li:nth-child(9) {
  left: 27%;
  width: 163px;
  height: 163px;
  bottom: -163px;
  animation-delay: 13s;
}
.background li:nth-child(10) {
  left: 43%;
  width: 191px;
  height: 191px;
  bottom: -191px;
  animation-delay: 15s;
}
.background li:nth-child(11) {
  left: 60%;
  width: 136px;
  height: 136px;
  bottom: -136px;
  animation-delay: 48s;
}
.background li:nth-child(12) {
  left: 42%;
  width: 103px;
  height: 103px;
  bottom: -103px;
  animation-delay: 52s;
}
.background li:nth-child(13) {
  left: 9%;
  width: 181px;
  height: 181px;
  bottom: -181px;
  animation-delay: 43s;
}
.background li:nth-child(14) {
  left: 52%;
  width: 176px;
  height: 176px;
  bottom: -176px;
  animation-delay: 21s;
}
.background li:nth-child(15) {
  left: 61%;
  width: 137px;
  height: 137px;
  bottom: -137px;
  animation-delay: 19s;
}
.background li:nth-child(16) {
  left: 12%;
  width: 135px;
  height: 135px;
  bottom: -135px;
  animation-delay: 18s;
}
.background li:nth-child(17) {
  left: 34%;
  width: 114px;
  height: 114px;
  bottom: -114px;
  animation-delay: 23s;
}
.background li:nth-child(18) {
  left: 34%;
  width: 170px;
  height: 170px;
  bottom: -170px;
  animation-delay: 67s;
}
.background li:nth-child(19) {
  left: 61%;
  width: 126px;
  height: 126px;
  bottom: -126px;
  animation-delay: 88s;
}
.background li:nth-child(20) {
  left: 66%;
  width: 151px;
  height: 151px;
  bottom: -151px;
  animation-delay: 32s;
}
.background li:nth-child(21) {
  left: 46%;
  width: 178px;
  height: 178px;
  bottom: -178px;
  animation-delay: 69s;
}
.background li:nth-child(22) {
  left: 78%;
  width: 131px;
  height: 131px;
  bottom: -131px;
  animation-delay: 41s;
}
.background li:nth-child(23) {
  left: 3%;
  width: 118px;
  height: 118px;
  bottom: -118px;
  animation-delay: 52s;
}
.background li:nth-child(24) {
  left: 78%;
  width: 109px;
  height: 109px;
  bottom: -109px;
  animation-delay: 25s;
}
