@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 600;

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-image: url("./assets/background.png");
  background-color: transparent;
  background-position: center;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
}

li:hover {
  border-bottom: 2px solid black;
}

.box-shadow {
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #d7d7d7;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 76%;
  width: 190px;
  height: 190px;
  bottom: -190px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 76%;
  width: 153px;
  height: 153px;
  bottom: -153px;
  animation-delay: 5s;
}
.background li:nth-child(2) {
  left: 79%;
  width: 165px;
  height: 165px;
  bottom: -165px;
  animation-delay: 6s;
}
.background li:nth-child(3) {
  left: 67%;
  width: 149px;
  height: 149px;
  bottom: -149px;
  animation-delay: 10s;
}
.background li:nth-child(4) {
  left: 63%;
  width: 133px;
  height: 133px;
  bottom: -133px;
  animation-delay: 7s;
}
.background li:nth-child(5) {
  left: 27%;
  width: 193px;
  height: 193px;
  bottom: -193px;
  animation-delay: 14s;
}
.background li:nth-child(6) {
  left: 38%;
  width: 109px;
  height: 109px;
  bottom: -109px;
  animation-delay: 6s;
}
.background li:nth-child(7) {
  left: 27%;
  width: 111px;
  height: 111px;
  bottom: -111px;
  animation-delay: 8s;
}
.background li:nth-child(8) {
  left: 20%;
  width: 132px;
  height: 132px;
  bottom: -132px;
  animation-delay: 4s;
}
.background li:nth-child(9) {
  left: 70%;
  width: 148px;
  height: 148px;
  bottom: -148px;
  animation-delay: 45s;
}
.background li:nth-child(10) {
  left: 44%;
  width: 133px;
  height: 133px;
  bottom: -133px;
  animation-delay: 36s;
}
.background li:nth-child(11) {
  left: 77%;
  width: 187px;
  height: 187px;
  bottom: -187px;
  animation-delay: 10s;
}
.background li:nth-child(12) {
  left: 4%;
  width: 188px;
  height: 188px;
  bottom: -188px;
  animation-delay: 42s;
}
.background li:nth-child(13) {
  left: 18%;
  width: 185px;
  height: 185px;
  bottom: -185px;
  animation-delay: 6s;
}
.background li:nth-child(14) {
  left: 57%;
  width: 141px;
  height: 141px;
  bottom: -141px;
  animation-delay: 23s;
}
.background li:nth-child(15) {
  left: 20%;
  width: 125px;
  height: 125px;
  bottom: -125px;
  animation-delay: 54s;
}
.background li:nth-child(16) {
  left: 52%;
  width: 112px;
  height: 112px;
  bottom: -112px;
  animation-delay: 40s;
}
.background li:nth-child(17) {
  left: 24%;
  width: 125px;
  height: 125px;
  bottom: -125px;
  animation-delay: 4s;
}
.background li:nth-child(18) {
  left: 32%;
  width: 154px;
  height: 154px;
  bottom: -154px;
  animation-delay: 63s;
}
.background li:nth-child(19) {
  left: 4%;
  width: 162px;
  height: 162px;
  bottom: -162px;
  animation-delay: 19s;
}
.background li:nth-child(20) {
  left: 22%;
  width: 153px;
  height: 153px;
  bottom: -153px;
  animation-delay: 78s;
}
.background li:nth-child(21) {
  left: 7%;
  width: 163px;
  height: 163px;
  bottom: -163px;
  animation-delay: 50s;
}
.background li:nth-child(22) {
  left: 15%;
  width: 112px;
  height: 112px;
  bottom: -112px;
  animation-delay: 6s;
}
.background li:nth-child(23) {
  left: 38%;
  width: 110px;
  height: 110px;
  bottom: -110px;
  animation-delay: 38s;
}
.background li:nth-child(24) {
  left: 52%;
  width: 157px;
  height: 157px;
  bottom: -157px;
  animation-delay: 93s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
